@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.channel-row {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  padding: 14px $spacing-md;
  background: $color-bg;
  border-radius: $radius-input;
  cursor: pointer;
  transition: background 0.15s;

  /* &:hover:not(&--checked):not(&--disabled) {
    background: darken($frost, 3%);
  } */

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &__logo-wrap {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  /*  &__text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
  } */

  /*   &__name {
    color: $color-text;
  } */

  /*  &__desc {
    color: $color-text-muted;
  }
 */
  &__check {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1.5px solid $ash;
    flex-shrink: 0;
    position: relative;
    transition:
      background 0.15s,
      border-color 0.15s;

    &--checked {
      background: $coal;
      border-color: $coal;

      &::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 2px;
        width: 4px;
        height: 8px;
        border: solid $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}
