# Server
PORT=
REACT_APP_BASE_URL=

# Database
MONGODB_URI=

# Auth
ACCESS_SECRET=
REFRESH_SECRET=
SALT_ROUNDS=

# AWS S3 (for media uploads)
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=

# Stripe Payments
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
