*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden; /* prevent body-level scrolling on all pages */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f1f4f8;
  color: #424241;
}

#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
